
# NumPy



In this lesson we will learn the basics of numerical analysis using the NumPy package.

<img src="https://raw.githubusercontent.com/GokuMohandas/practicalAI/master/images/numpy.png" width=300>

# NumPy basics

In [0]:
import numpy as np

In [0]:
# Scalars
x = np.array(6) # scalar
print ("x: ", x)
# Number of dimensions
print("x ndim: ", x.ndim)
# Dimensions
print("x shape:", x.shape)
# Size of elements
print("x size: ", x.size)
# Data type
print ("x dtype: ", x.dtype)

x:  6
x ndim:  0
x shape: ()
x size:  1
x dtype:  int64

In [0]:
# 1-D Array
x = np.array([1.3 , 2.2 , 1.7])
print ("x: ", x)
print("x ndim: ", x.ndim)
print("x shape:", x.shape)
print("x size: ", x.size)
print ("x dtype: ", x.dtype) # notice the float datatype

x:  [1.3 2.2 1.7]
x ndim:  1
x shape: (3,)
x size:  3
x dtype:  float64

In [0]:
# 3-D array (matrix)
x = np.array([[[1,2,3], [4,5,6], [7,8,9]]])
print ("x:\n", x)
print("x ndim: ", x.ndim)
print("x shape:", x.shape)
print("x size: ", x.size)
print ("x dtype: ", x.dtype)

In [0]:
# Functions
print ("np.zeros((2,2)):\n", np.zeros((2,2)))
print ("np.ones((2,2)):\n", np.ones((2,2)))
print ("np.eye((2)):\n", np.eye((4)))
print ("np.random.random((2,2)):\n", np.random.random((2,2)))

np.zeros((2,2)):
 [[0. 0.]
 [0. 0.]]
np.ones((2,2)):
 [[1. 1.]
 [1. 1.]]
np.eye((2)):
 [[1. 0. 0. 0.]
 [0. 1. 0. 0.]
 [0. 0. 1. 0.]
 [0. 0. 0. 1.]]
np.random.random((2,2)):
 [[0.21588434 0.43416982]
 [0.49399713 0.17682102]]

# Indexing

In [0]:
# Indexing
x = np.array([1, 2, 3])
print ("x[0]: ", x[0])
x[0] = 5
print ("x: ", x)

x[0]:  1
x:  [5 2 3]

In [0]:
# Slicing
x = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])
print (x)
print ("x column 1: ", x[:, 1]) 
print ("x row 0: ", x[0, :])

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]
x column 1:  [ 2  6 10]
x row 0:  [1 2 3 4]

In [0]:
# Integer array indexing
print(x)
# An example of integer array indexing.
# The returned array will have shape (3,) and
print(x[[0, 1, 2], [0, 1, 0]])  # Prints "[1 4 5]"
print(np.array([x[0, 0], x[1, 1], x[2, 0]]))
# The above example of integer array indexing is equivalent to this:
print(np.array([x[0, 0], x[1, 1], x[2, 0]]))  # Prints "[1 4 5]"

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]
[1 6 9]
[1 6 9]
[1 6 9]

In [0]:
# Boolean array indexing
x = np.array([[1,2], [3, 4], [5, 6]])
print ("x:\n", x)
print ("x > 2:\n", x > 2)
print ("x[x > 2]:\n", x[x > 2])

x:
 [[1 2]
 [3 4]
 [5 6]]
x > 2:
 [[False False]
 [ True  True]
 [ True  True]]
x[x > 2]:
 [3 4 5 6]

# Array math

In [0]:
# Basic math
x = np.array([[1,2], [3,4]], dtype=np.float64)
y = np.array([[1,2], [3,4]], dtype=np.float64)
print("x",x)
print("y",y)

x [[1. 2.]
 [3. 4.]]
y [[1. 2.]
 [3. 4.]]

In [0]:
# Multiplication
print ("x * y:\n", np.multiply(x, y)) # or x * y

x * y:
 [[ 1.  4.]
 [ 9. 16.]]

In [0]:
# subtraction
print ("x - y:\n", np.subtract(x, y)) # or x - y

x - y:
 [[0. 0.]
 [0. 0.]]

In [0]:
# Addition
print ("x + y:\n", np.add(x, y)) # or x + y

x + y:
 [[2. 4.]
 [6. 8.]]

In [0]:
# Division
print(np.divide(x, y))

[[1. 1.]
 [1. 1.]]
[[1. 1.]
 [1. 1.]]

In [0]:
# sqrt
print(np.sqrt(x))

<img src="https://raw.githubusercontent.com/GokuMohandas/practicalAI/master/images/matrix.png" width=400>

In [0]:
# Dot product
a = np.array([[1,2,3], [4,5,6]], dtype=np.float64) # we can specify dtype
b = np.array([[7,8], [9,10], [11, 12]], dtype=np.float64)
print (a.dot(b))

[[ 58.  64.]
 [139. 154.]]

In [0]:
# Sum across a dimension
x = np.array([[1,2],[3,4]])
print (x)
print ("sum all: ", np.sum(x)) # adds all elements
print ("sum by col: ", np.sum(x, axis=0)) # add numbers in each column
print ("sum by row: ", np.sum(x, axis=1)) # add numbers in each row

[[1 2]
 [3 4]]
sum all:  10
sum by col:  [4 6]
sum by row:  [3 7]

In [0]:
# Transposing
print ("x:\n", x)
print ("x.T:\n", x.T)

x:
 [[1 2]
 [3 4]]
x.T:
 [[1 3]
 [2 4]]

# Advanced


---



---

In [0]:
# Reshaping
x = np.array([[1,2], [3,4], [5,6]])
print (x)
print ("x.shape: ", x.shape)
x = np.reshape(x, (2, 3)) #reshape
print ("x: \n", x)
print ("x.shape: ", x.shape)

[[1 2]
 [3 4]
 [5 6]]
x.shape:  (3, 2)
x:
 [[1 2 3]
 [4 5 6]]
x.shape:  (2, 3)

In [0]:
# Removing dimensions
x = np.array([[[1,2,1]],[[2,2,3]]])
print ("x.shape: ", x.shape)
y = np.squeeze(x, 1) # squeeze dim 1
print ("y.shape: ", y.shape) 
print ("y: \n", y)

x.shape:  (2, 1, 3)
y.shape:  (2, 3)
y:
 [[1 2 1]
 [2 2 3]]

In [0]:
# Adding dimensions
x = np.array([[1,2,1],[2,2,3]])
print(x)
print ("x.shape: ", x.shape)
y = np.expand_dims(x, 1) # expand dim 1
print ("y.shape: ", y.shape) 
print ("y: \n", y)

[[1 2 1]
 [2 2 3]]
x.shape:  (2, 3)
y.shape:  (2, 1, 3)
y:
 [[[1 2 1]]

 [[2 2 3]]]

# Additional resources

You don't have to memorize anything here and we will be taking a closer look at NumPy in the later lessons. If you are curious about more checkout the [NumPy reference manual](https://docs.scipy.org/doc/numpy-1.15.1/reference/).